In [1]:
import polars as pl
import requests
from pprint import pprint
import glob
import pandas as pd
import geopandas as gpd
#import geopolars as gpl

In [69]:
DIR = r"C:\Users\stgadmin\Desktop\Taxi_AirFlow\data\staging\**\**\*.parquet"
files = glob.glob(DIR)
print(files)

['C:\\Users\\stgadmin\\Desktop\\Taxi_AirFlow\\data\\staging\\yellow\\2009\\yellow_tripdata_2009-01.parquet', 'C:\\Users\\stgadmin\\Desktop\\Taxi_AirFlow\\data\\staging\\yellow\\2009\\yellow_tripdata_2009-02.parquet', 'C:\\Users\\stgadmin\\Desktop\\Taxi_AirFlow\\data\\staging\\yellow\\2009\\yellow_tripdata_2009-03.parquet', 'C:\\Users\\stgadmin\\Desktop\\Taxi_AirFlow\\data\\staging\\yellow\\2009\\yellow_tripdata_2009-04.parquet', 'C:\\Users\\stgadmin\\Desktop\\Taxi_AirFlow\\data\\staging\\yellow\\2009\\yellow_tripdata_2009-05.parquet', 'C:\\Users\\stgadmin\\Desktop\\Taxi_AirFlow\\data\\staging\\yellow\\2009\\yellow_tripdata_2009-06.parquet', 'C:\\Users\\stgadmin\\Desktop\\Taxi_AirFlow\\data\\staging\\yellow\\2009\\yellow_tripdata_2009-07.parquet', 'C:\\Users\\stgadmin\\Desktop\\Taxi_AirFlow\\data\\staging\\yellow\\2009\\yellow_tripdata_2009-08.parquet', 'C:\\Users\\stgadmin\\Desktop\\Taxi_AirFlow\\data\\staging\\yellow\\2009\\yellow_tripdata_2009-09.parquet', 'C:\\Users\\stgadmin\\Desktop\\Taxi_AirFlow\\data\\staging\\yellow\\2009\\yellow_tripdata_2009-10.parquet', 'C:\\Users\\stgadmin\\Desktop\\Taxi_AirFlow\\data\\staging\\yellow\\2009\\yellow_tripdata_2009-11.parquet', 'C:\\Users\\stgadmin\\Desktop\\Taxi_AirFlow\\data\\staging\\yellow\\2009\\yellow_tripdata_2009-12.parquet', 'C:\\Users\\stgadmin\\Desktop\\Taxi_AirFlow\\data\\staging\\yellow\\2024\\yellow_tripdata_2024-01.parquet', 'C:\\Users\\stgadmin\\Desktop\\Taxi_AirFlow\\data\\staging\\yellow\\2025\\yellow_tripdata_2025-01.parquet']

In [66]:
data_2009 = pl.scan_parquet(files[0])
data_2024 = pl.scan_parquet(files[1])
data_2025 = pl.scan_parquet(files[2])
#data.show_graph()

In [67]:
for file in files : 
    data = pl.scan_parquet(file)
    pprint(data.collect_schema())

Schema([('vendor_name', String),
        ('Trip_Pickup_DateTime', String),
        ('Trip_Dropoff_DateTime', String),
        ('Passenger_Count', Int64),
        ('Trip_Distance', Float64),
        ('Start_Lon', Float64),
        ('Start_Lat', Float64),
        ('Rate_Code', Float64),
        ('store_and_forward', Float64),
        ('End_Lon', Float64),
        ('End_Lat', Float64),
        ('Payment_Type', String),
        ('Fare_Amt', Float64),
        ('surcharge', Float64),
        ('mta_tax', Float64),
        ('Tip_Amt', Float64),
        ('Tolls_Amt', Float64),
        ('Total_Amt', Float64)])
Schema([('VendorID', Int32),
        ('tpep_pickup_datetime', Datetime(time_unit='ns', time_zone=None)),
        ('tpep_dropoff_datetime', Datetime(time_unit='ns', time_zone=None)),
        ('passenger_count', Int64),
        ('trip_distance', Float64),
        ('RatecodeID', Int64),
        ('store_and_fwd_flag', String),
        ('PULocationID', Int32),
        ('DOLocationID', Int32),
        ('payment_type', Int64),
        ('fare_amount', Float64),
        ('extra', Float64),
        ('mta_tax', Float64),
        ('tip_amount', Float64),
        ('tolls_amount', Float64),
        ('improvement_surcharge', Float64),
        ('total_amount', Float64),
        ('congestion_surcharge', Float64),
        ('Airport_fee', Float64)])
Schema([('VendorID', Int32),
        ('tpep_pickup_datetime', Datetime(time_unit='us', time_zone=None)),
        ('tpep_dropoff_datetime', Datetime(time_unit='us', time_zone=None)),
        ('passenger_count', Int64),
        ('trip_distance', Float64),
        ('RatecodeID', Int64),
        ('store_and_fwd_flag', String),
        ('PULocationID', Int32),
        ('DOLocationID', Int32),
        ('payment_type', Int64),
        ('fare_amount', Float64),
        ('extra', Float64),
        ('mta_tax', Float64),
        ('tip_amount', Float64),
        ('tolls_amount', Float64),
        ('improvement_surcharge', Float64),
        ('total_amount', Float64),
        ('congestion_surcharge', Float64),
        ('Airport_fee', Float64),
        ('cbd_congestion_fee', Float64)])

In [5]:
schema_2024 = data_2024.collect_schema()
schema_2009 = data_2009.collect_schema()

yellow_target_schema = {
    # Identifiants
    'VendorID': pl.Int32,
    'PULocationID': pl.Int32,
    'DOLocationID': pl.Int32,
    
    
    'tpep_pickup_datetime': pl.Datetime(time_unit='ns'),
    'tpep_dropoff_datetime': pl.Datetime(time_unit='ns'),
    
    # Informations sur la course
    'passenger_count': pl.Int64, # Entier, car on ne peut pas avoir de demi-passager
    'trip_distance': pl.Float64,
    'RatecodeID': pl.Int64, 
    'store_and_fwd_flag': pl.String,
    
    # Informations financières
    'payment_type': pl.Int64,
    'fare_amount': pl.Float64,
    'extra': pl.Float64,
    'mta_tax': pl.Float64,
    'tip_amount': pl.Float64,
    'tolls_amount': pl.Float64,
    'improvement_surcharge': pl.Float64,
    'total_amount': pl.Float64,
    'congestion_surcharge': pl.Float64,
    'Airport_fee': pl.Float64
}

In [6]:
data_2009.collect().head(200)

shape: (200, 18)
┌─────────────┬──────────────────────┬───────────────────────┬─────────────────┬───┬─────────┬─────────┬───────────┬───────────┐
│ vendor_name ┆ Trip_Pickup_DateTime ┆ Trip_Dropoff_DateTime ┆ Passenger_Count ┆ … ┆ mta_tax ┆ Tip_Amt ┆ Tolls_Amt ┆ Total_Amt │
│ ---         ┆ ---                  ┆ ---                   ┆ ---             ┆   ┆ ---     ┆ ---     ┆ ---       ┆ ---       │
│ str         ┆ str                  ┆ str                   ┆ i64             ┆   ┆ f64     ┆ f64     ┆ f64       ┆ f64       │
╞═════════════╪══════════════════════╪═══════════════════════╪═════════════════╪═══╪═════════╪═════════╪═══════════╪═══════════╡
│ VTS         ┆ 2009-01-04 02:52:00  ┆ 2009-01-04 03:02:00   ┆ 1               ┆ … ┆ null    ┆ 0.0     ┆ 0.0       ┆ 9.4       │
│ VTS         ┆ 2009-01-04 03:31:00  ┆ 2009-01-04 03:38:00   ┆ 3               ┆ … ┆ null    ┆ 2.0     ┆ 0.0       ┆ 14.6      │
│ VTS         ┆ 2009-01-03 15:43:00  ┆ 2009-01-03 15:57:00   ┆ 5               ┆ … ┆ null    ┆ 4.74    ┆ 0.0       ┆ 28.44     │
│ DDS         ┆ 2009-01-01 20:52:58  ┆ 2009-01-01 21:14:00   ┆ 1               ┆ … ┆ null    ┆ 3.05    ┆ 0.0       ┆ 18.45     │
│ DDS         ┆ 2009-01-24 16:18:23  ┆ 2009-01-24 16:24:56   ┆ 1               ┆ … ┆ null    ┆ 0.0     ┆ 0.0       ┆ 3.7       │
│ …           ┆ …                    ┆ …                     ┆ …               ┆ … ┆ …       ┆ …       ┆ …         ┆ …         │
│ VTS         ┆ 2009-01-25 02:36:00  ┆ 2009-01-25 02:51:00   ┆ 1               ┆ … ┆ null    ┆ 2.0     ┆ 0.0       ┆ 15.0      │
│ VTS         ┆ 2009-01-25 10:21:00  ┆ 2009-01-25 10:26:00   ┆ 1               ┆ … ┆ null    ┆ 0.0     ┆ 0.0       ┆ 4.9       │
│ VTS         ┆ 2009-01-25 09:09:00  ┆ 2009-01-25 09:22:00   ┆ 5               ┆ … ┆ null    ┆ 0.0     ┆ 0.0       ┆ 16.5      │
│ VTS         ┆ 2009-01-25 15:03:00  ┆ 2009-01-25 15:13:00   ┆ 1               ┆ … ┆ null    ┆ 0.0     ┆ 0.0       ┆ 7.7       │
│ CMT         ┆ 2009-01-25 18:09:54  ┆ 2009-01-25 18:24:27   ┆ 1               ┆ … ┆ null    ┆ 0.0     ┆ 0.0       ┆ 9.7       │
└─────────────┴──────────────────────┴───────────────────────┴─────────────────┴───┴─────────┴─────────┴───────────┴───────────┘

# vendor_name => vendor_id

In [7]:
print( data_2009.select("vendor_name").unique().collect())

shape: (3, 1)
┌─────────────┐
│ vendor_name │
│ ---         │
│ str         │
╞═════════════╡
│ VTS         │
│ DDS         │
│ CMT         │
└─────────────┘

In [8]:
VENDOR_STRING_TO_ID_MAP = {
    "CMT": 1,
    "VTS": 2,
    "DDS": 3,
}

def reconcile_vendor_column(ldf: pl.LazyFrame) -> pl.LazyFrame:
    """
    Cette fonction réconcilie la colonne du fournisseur, qu'elle s'appelle
    'vendor_name' (String) ou 'VendorID' (Int).
    """
    input_columns = ldf.collect_schema().names()

    if "vendor_name" in input_columns:
        return ldf.with_columns(
            pl.col("vendor_name")
              .replace_strict(VENDOR_STRING_TO_ID_MAP, default=None) 
              .alias("VendorID") # On crée la colonne cible 'VendorID'
        ).drop("vendor_name") # On supprime l'ancienne colonne

    elif "VendorID" in input_columns:
        # --- SCÉNARIO 2 : Fichier récent avec des IDs numériques ---
        print("Détection de 'VendorID'. Standardisation du type.")
        # On s'assure juste que le type est correct
        return ldf.with_columns(
            pl.col("VendorID").cast(pl.Int64)
        )
        
    else:
        # --- SCÉNARIO 3 : Aucune colonne fournisseur trouvée ---
        print("Aucune colonne de fournisseur trouvée. Ajout d'une colonne 'VendorID' vide.")
        # On crée une colonne vide pour que le schéma final soit cohérent
        return ldf.with_columns(
            pl.lit(None, dtype=pl.Int32).alias("VendorID")
        )

In [9]:
# Pour un vieux LazyFrame (data_2009)
ldf_reconciled_2009 = reconcile_vendor_column(data_2009)
print(ldf_reconciled_2009.collect_schema())

Schema({'Trip_Pickup_DateTime': String, 'Trip_Dropoff_DateTime': String, 'Passenger_Count': Int64, 'Trip_Distance': Float64, 'Start_Lon': Float64, 'Start_Lat': Float64, 'Rate_Code': Float64, 'store_and_forward': Float64, 'End_Lon': Float64, 'End_Lat': Float64, 'Payment_Type': String, 'Fare_Amt': Float64, 'surcharge': Float64, 'mta_tax': Float64, 'Tip_Amt': Float64, 'Tolls_Amt': Float64, 'Total_Amt': Float64, 'VendorID': Int64})

In [10]:
# Pour un nouveau LazyFrame (data_2024)
ldf_reconciled_2024 = reconcile_vendor_column(data_2024)
print(ldf_reconciled_2024.collect_schema())

Détection de 'VendorID'. Standardisation du type.
Schema({'VendorID': Int64, 'tpep_pickup_datetime': Datetime(time_unit='ns', time_zone=None), 'tpep_dropoff_datetime': Datetime(time_unit='ns', time_zone=None), 'passenger_count': Int64, 'trip_distance': Float64, 'RatecodeID': Int64, 'store_and_fwd_flag': String, 'PULocationID': Int32, 'DOLocationID': Int32, 'payment_type': Int64, 'fare_amount': Float64, 'extra': Float64, 'mta_tax': Float64, 'tip_amount': Float64, 'tolls_amount': Float64, 'improvement_surcharge': Float64, 'total_amount': Float64, 'congestion_surcharge': Float64, 'Airport_fee': Float64})

# longitude/ latitude => id via geopandas =< pas recommandé

In [14]:

# Assurez-vous que le GeoDataFrame des zones est chargé une seule fois
zones_gdf = gpd.read_file(r"C:\Users\stgadmin\Desktop\Taxi_AirFlow\data\taxi_zones\taxi_zones.shp", lazy=True)
zones_gdf_reprojected = zones_gdf.to_crs("EPSG:4326")

def add_location_ids(df: pl.DataFrame) -> pl.DataFrame:
    
    pdf = df.to_pandas()
    start_points_gdf = gpd.GeoDataFrame(
        pdf, geometry=gpd.points_from_xy(pdf.Start_Lon, pdf.Start_Lat), crs="EPSG:4326"
    )
    end_points_gdf = gpd.GeoDataFrame(
        pdf, geometry=gpd.points_from_xy(pdf.End_Lon, pdf.End_Lat), crs="EPSG:4326"
    )
    pu_joined_gdf = gpd.sjoin(start_points_gdf, zones_gdf_reprojected, how="left", predicate="within")
    do_joined_gdf = gpd.sjoin(end_points_gdf, zones_gdf_reprojected, how="left", predicate="within")
    
    result_df = pl.DataFrame({
        'index': df['index'],
        'PULocationID': pu_joined_gdf['LocationID'].astype('Int32'),
        'DOLocationID': do_joined_gdf['LocationID'].astype('Int32')
    })
    return result_df

C:\Users\stgadmin\anaconda3\envs\airflow-env\Lib\site-packages\pyogrio\raw.py:198: RuntimeWarning: driver ESRI Shapefile does not support open option LAZY
  return ogr_read(

In [ ]:
ldf_with_index = data_2009.with_row_index("index")

cols_for_mapping_df = ldf_with_index.select(
    pl.col("index"),
    pl.col("Start_Lon"),
    pl.col("Start_Lat"),
    pl.col("End_Lon"),
    pl.col("End_Lat")
).collect()
location_ids_df = add_location_ids(cols_for_mapping_df)


final_ldf = ldf_with_index.join(location_ids_df.lazy(), on="index", how="left")

In [43]:
print(final_ldf.collect_schema())

Schema({'index': UInt32, 'vendor_name': String, 'Trip_Pickup_DateTime': String, 'Trip_Dropoff_DateTime': String, 'Passenger_Count': Int64, 'Trip_Distance': Float64, 'Start_Lon': Float64, 'Start_Lat': Float64, 'Rate_Code': Float64, 'store_and_forward': Float64, 'End_Lon': Float64, 'End_Lat': Float64, 'Payment_Type': String, 'Fare_Amt': Float64, 'surcharge': Float64, 'mta_tax': Float64, 'Tip_Amt': Float64, 'Tolls_Amt': Float64, 'Total_Amt': Float64, 'PULocationID': Int32, 'DOLocationID': Int32})

In [44]:
final_ldf.head().collect()

shape: (5, 21)
┌───────┬─────────────┬──────────────────────┬───────────────────────┬───┬───────────┬───────────┬──────────────┬──────────────┐
│ index ┆ vendor_name ┆ Trip_Pickup_DateTime ┆ Trip_Dropoff_DateTime ┆ … ┆ Tolls_Amt ┆ Total_Amt ┆ PULocationID ┆ DOLocationID │
│ ---   ┆ ---         ┆ ---                  ┆ ---                   ┆   ┆ ---       ┆ ---       ┆ ---          ┆ ---          │
│ u32   ┆ str         ┆ str                  ┆ str                   ┆   ┆ f64       ┆ f64       ┆ i32          ┆ i32          │
╞═══════╪═════════════╪══════════════════════╪═══════════════════════╪═══╪═══════════╪═══════════╪══════════════╪══════════════╡
│ 0     ┆ VTS         ┆ 2009-01-04 02:52:00  ┆ 2009-01-04 03:02:00   ┆ … ┆ 0.0       ┆ 9.4       ┆ 148          ┆ 33           │
│ 1     ┆ VTS         ┆ 2009-01-04 03:31:00  ┆ 2009-01-04 03:38:00   ┆ … ┆ 0.0       ┆ 14.6      ┆ 107          ┆ 141          │
│ 2     ┆ VTS         ┆ 2009-01-03 15:43:00  ┆ 2009-01-03 15:57:00   ┆ … ┆ 0.0       ┆ 28.44     ┆ 249          ┆ 70           │
│ 3     ┆ DDS         ┆ 2009-01-01 20:52:58  ┆ 2009-01-01 21:14:00   ┆ … ┆ 0.0       ┆ 18.45     ┆ 238          ┆ 113          │
│ 4     ┆ DDS         ┆ 2009-01-24 16:18:23  ┆ 2009-01-24 16:24:56   ┆ … ┆ 0.0       ┆ 3.7       ┆ 144          ┆ 231          │
└───────┴─────────────┴──────────────────────┴───────────────────────┴───┴───────────┴───────────┴──────────────┴──────────────┘

# longitude/ latitude => id via polars-st => recommandé

In [34]:
import polars as pl
import polars_st as st
import fiona
from shapely.geometry import shape

In [35]:
taxi_shape = gpd.read_file(r"C:\Users\stgadmin\Desktop\Taxi_AirFlow\data\taxi_zones\\")
taxi_shape = st.from_geopandas(taxi_shape.to_crs("EPSG:4326")).select(pl.col('geometry', 'LocationID'))
print(taxi_shape.head(2))

shape: (2, 2)
┌─────────────────────────────────┬────────────┐
│ geometry                        ┆ LocationID │
│ ---                             ┆ ---        │
│ binary                          ┆ i32        │
╞═════════════════════════════════╪════════════╡
│ b"\x01\x03\x00\x00\x20\xe6\x10… ┆ 1          │
│ b"\x01\x06\x00\x00\x20\xe6\x10… ┆ 2          │
└─────────────────────────────────┴────────────┘

In [36]:

final_lazy_df = (
    data_2009.with_columns(
        geometry=st.point(pl.concat_arr(pl.col("Start_Lon"), pl.col("Start_Lat")))
    )
    .st.sjoin(taxi_shape.lazy(), predicate="contains", how="left",left_on= "geometry", right_on = "geometry")
    .rename({"LocationID": "PULocationID"})
    .drop("geometry", "geometry_right")
    .with_columns(
        geometry=st.point(pl.concat_arr(pl.col("End_Lon"), pl.col("End_Lat")))
    )
    .st.sjoin(taxi_shape.lazy(),predicate="contains", how="left",left_on= "geometry", right_on = "geometry")
    .rename({"LocationID": "DOLocationID"})
    .drop("geometry", "geometry_right")
    .select(
        pl.all().exclude
        (["Start_Lon", "Start_Lat", "End_Lon", "End_Lat"])
    )
    
    
)

In [ ]:
final_lazy_df.collect()

In [11]:
from transformation import add_location_ids, order_columns_by_schema

In [ ]:

SHAPEFILE_PATH = r"C:\Users\stgadmin\Desktop\Taxi_AirFlow\data\taxi_zones\\"
zones_gdf = gpd.read_file(SHAPEFILE_PATH)
zones_df = st.from_geopandas(zones_gdf.to_crs("EPSG:4326"))

# On ne garde que les colonnes utiles et on le passe en LazyFrame
zones_lazy = zones_df.select(['geometry', 'LocationID']).lazy()

In [38]:



transformed_lazy_df = add_location_ids(
    data_lazy=data_2009, 
    zones_df=zones_lazy
)

print("Le plan de transformation est prêt. Aperçu du résultat final :")

result_preview = transformed_lazy_df.collect()
print(result_preview)

print("\nSchéma du LazyFrame transformé :")
pprint(transformed_lazy_df.collect_schema())

C:\Users\stgadmin\Desktop\Taxi_AirFlow\scripts\transformation.py:12: PerformanceWarning: Determining the column names of a LazyFrame requires resolving its schema, which is a potentially expensive operation. Use `LazyFrame.collect_schema().names()` to get the column names without this warning.
  if not required_cols.issubset(data_lazy.columns):

Le plan de transformation est prêt. Aperçu du résultat final :
shape: (14_092_413, 16)
┌─────────────┬──────────────────────┬───────────────────────┬─────────────────┬───┬───────────┬───────────┬──────────────┬──────────────┐
│ vendor_name ┆ Trip_Pickup_DateTime ┆ Trip_Dropoff_DateTime ┆ Passenger_Count ┆ … ┆ Tolls_Amt ┆ Total_Amt ┆ PULocationID ┆ DOLocationID │
│ ---         ┆ ---                  ┆ ---                   ┆ ---             ┆   ┆ ---       ┆ ---       ┆ ---          ┆ ---          │
│ str         ┆ str                  ┆ str                   ┆ i64             ┆   ┆ f64       ┆ f64       ┆ i32          ┆ i32          │
╞═════════════╪══════════════════════╪═══════════════════════╪═════════════════╪═══╪═══════════╪═══════════╪══════════════╪══════════════╡
│ VTS         ┆ 2009-01-04 02:52:00  ┆ 2009-01-04 03:02:00   ┆ 1               ┆ … ┆ 0.0       ┆ 9.4       ┆ 148          ┆ 33           │
│ VTS         ┆ 2009-01-04 03:31:00  ┆ 2009-01-04 03:38:00   ┆ 3               ┆ … ┆ 0.0       ┆ 14.6      ┆ 107          ┆ 141          │
│ VTS         ┆ 2009-01-03 15:43:00  ┆ 2009-01-03 15:57:00   ┆ 5               ┆ … ┆ 0.0       ┆ 28.44     ┆ 249          ┆ 70           │
│ DDS         ┆ 2009-01-01 20:52:58  ┆ 2009-01-01 21:14:00   ┆ 1               ┆ … ┆ 0.0       ┆ 18.45     ┆ 238          ┆ 113          │
│ DDS         ┆ 2009-01-24 16:18:23  ┆ 2009-01-24 16:24:56   ┆ 1               ┆ … ┆ 0.0       ┆ 3.7       ┆ 144          ┆ 231          │
│ …           ┆ …                    ┆ …                     ┆ …               ┆ … ┆ …         ┆ …         ┆ …            ┆ …            │
│ VTS         ┆ 2009-01-27 14:36:00  ┆ 2009-01-27 14:46:00   ┆ 5               ┆ … ┆ 0.0       ┆ 6.5       ┆ 170          ┆ 186          │
│ VTS         ┆ 2009-01-27 13:56:00  ┆ 2009-01-27 14:02:00   ┆ 1               ┆ … ┆ 0.0       ┆ 10.0      ┆ 163          ┆ 263          │
│ CMT         ┆ 2009-01-23 08:39:44  ┆ 2009-01-23 09:02:15   ┆ 1               ┆ … ┆ 0.0       ┆ 14.5      ┆ 170          ┆ 231          │
│ VTS         ┆ 2009-01-24 23:05:00  ┆ 2009-01-24 23:15:00   ┆ 3               ┆ … ┆ 0.0       ┆ 11.4      ┆ 164          ┆ 263          │
│ CMT         ┆ 2009-01-23 14:39:02  ┆ 2009-01-23 15:35:15   ┆ 1               ┆ … ┆ 0.0       ┆ 50.0      ┆ null         ┆ null         │
└─────────────┴──────────────────────┴───────────────────────┴─────────────────┴───┴───────────┴───────────┴──────────────┴──────────────┘

Schéma du LazyFrame transformé :
Schema([('vendor_name', String),
        ('Trip_Pickup_DateTime', String),
        ('Trip_Dropoff_DateTime', String),
        ('Passenger_Count', Int64),
        ('Trip_Distance', Float64),
        ('Rate_Code', Float64),
        ('store_and_forward', Float64),
        ('Payment_Type', String),
        ('Fare_Amt', Float64),
        ('surcharge', Float64),
        ('mta_tax', Float64),
        ('Tip_Amt', Float64),
        ('Tolls_Amt', Float64),
        ('Total_Amt', Float64),
        ('PULocationID', Int32),
        ('DOLocationID', Int32)])

# renommer les colonnes

In [14]:

RENAME_MAP = {
        "Trip_Pickup_DateTime": "tpep_pickup_datetime",
        "Trip_Dropoff_DateTime": "tpep_dropoff_datetime",
        "Passenger_Count": "passenger_count",
        "Trip_Distance": "trip_distance",
        "Rate_Code": "RatecodeID",
        "store_and_forward": "store_and_fwd_flag",
        "Payment_Type": "payment_type",
        "Fare_Amt": "fare_amount",
        "surcharge": "extra",
        "Tip_Amt": "tip_amount",
        "Tolls_Amt": "tolls_amount",
        "Total_Amt": "total_amount"
    }

In [15]:

def col_rename(lazy_df: pl.LazyFrame) -> pl.LazyFrame:
    """Renomme les colonnes pour correspondre au schéma de 2024."""
    print('renommage')
    colonnes_a_renommer = RENAME_MAP
    
    return lazy_df.rename(colonnes_a_renommer)

In [16]:
print(col_rename(data_2009).collect_schema())

renommage
Schema({'vendor_name': String, 'tpep_pickup_datetime': String, 'tpep_dropoff_datetime': String, 'passenger_count': Int64, 'trip_distance': Float64, 'Start_Lon': Float64, 'Start_Lat': Float64, 'RatecodeID': Float64, 'store_and_fwd_flag': Float64, 'End_Lon': Float64, 'End_Lat': Float64, 'payment_type': String, 'fare_amount': Float64, 'extra': Float64, 'mta_tax': Float64, 'tip_amount': Float64, 'tolls_amount': Float64, 'total_amount': Float64})

In [17]:
data_2024.collect_schema()

Schema([('VendorID', Int32),
        ('tpep_pickup_datetime', Datetime(time_unit='ns', time_zone=None)),
        ('tpep_dropoff_datetime', Datetime(time_unit='ns', time_zone=None)),
        ('passenger_count', Int64),
        ('trip_distance', Float64),
        ('RatecodeID', Int64),
        ('store_and_fwd_flag', String),
        ('PULocationID', Int32),
        ('DOLocationID', Int32),
        ('payment_type', Int64),
        ('fare_amount', Float64),
        ('extra', Float64),
        ('mta_tax', Float64),
        ('tip_amount', Float64),
        ('tolls_amount', Float64),
        ('improvement_surcharge', Float64),
        ('total_amount', Float64),
        ('congestion_surcharge', Float64),
        ('Airport_fee', Float64)])

# convertir les types

In [18]:
def type_convert_basic(lazy_df: pl.LazyFrame) -> pl.LazyFrame:
    """Convertit les dates et certains nombres dans les types de 2024 pour l'instant"""
    print('conversion de type')
    return lazy_df.with_columns(
    pl.col("tpep_pickup_datetime").str.to_datetime(),
    pl.col("tpep_dropoff_datetime").str.to_datetime(),
    pl.col("RatecodeID").cast(pl.Int64)
)

In [19]:
print(type_convert_basic(col_rename(data_2009)).collect_schema())

renommage
conversion de type
Schema({'vendor_name': String, 'tpep_pickup_datetime': Datetime(time_unit='us', time_zone=None), 'tpep_dropoff_datetime': Datetime(time_unit='us', time_zone=None), 'passenger_count': Int64, 'trip_distance': Float64, 'Start_Lon': Float64, 'Start_Lat': Float64, 'RatecodeID': Int64, 'store_and_fwd_flag': Float64, 'End_Lon': Float64, 'End_Lat': Float64, 'payment_type': String, 'fare_amount': Float64, 'extra': Float64, 'mta_tax': Float64, 'tip_amount': Float64, 'tolls_amount': Float64, 'total_amount': Float64})

In [20]:
def type_convert(lazy_df: pl.LazyFrame) -> pl.LazyFrame:
    """Vérifie le type de chaque colonne et ne convertit que si nécessaire."""
    print("debut de conversion")
    
    schema = lazy_df.collect_schema()
    expressions_de_conversion = []

    # Vérification pour la date de début
    if schema.get("tpep_pickup_datetime") == pl.String:
        print("  - Conversion de 'tpep_pickup_datetime'...")
        expressions_de_conversion.append(pl.col("tpep_pickup_datetime").str.to_datetime())

    # Vérification pour la date de fin
    if schema.get("tpep_dropoff_datetime") == pl.String:
        print("  - Conversion de 'tpep_dropoff_datetime'...")
        expressions_de_conversion.append(pl.col("tpep_dropoff_datetime").str.to_datetime())

    # Vérification pour le RatecodeID
    if schema.get("RatecodeID") != pl.Int64:
        print("  - Conversion de 'RatecodeID'...")
        expressions_de_conversion.append(pl.col("RatecodeID").cast(pl.Int64))

    # Si on a trouvé des colonnes à convertir, on les applique toutes en une fois
    if expressions_de_conversion:
        return lazy_df.with_columns(expressions_de_conversion)
    else:
        print("  - Tous les types sont déjà corrects.")
        return lazy_df

In [21]:
print(type_convert(col_rename(data_2009)).collect_schema())

renommage
debut de conversion
  - Conversion de 'tpep_pickup_datetime'...
  - Conversion de 'tpep_dropoff_datetime'...
  - Conversion de 'RatecodeID'...
Schema({'vendor_name': String, 'tpep_pickup_datetime': Datetime(time_unit='us', time_zone=None), 'tpep_dropoff_datetime': Datetime(time_unit='us', time_zone=None), 'passenger_count': Int64, 'trip_distance': Float64, 'Start_Lon': Float64, 'Start_Lat': Float64, 'RatecodeID': Int64, 'store_and_fwd_flag': Float64, 'End_Lon': Float64, 'End_Lat': Float64, 'payment_type': String, 'fare_amount': Float64, 'extra': Float64, 'mta_tax': Float64, 'tip_amount': Float64, 'tolls_amount': Float64, 'total_amount': Float64})

In [46]:

def enforce_schema_types(lazy_df: pl.LazyFrame, target_schema: dict) -> pl.LazyFrame:
    """
    Dynamically converts column types in a LazyFrame to match a target schema.
    """
    print("-> Dynamically checking and converting column types to match target schema...")
    
    current_schema = lazy_df.collect_schema()
    conversion_expressions = []

    # Iterate over every column in the target schema
    for col_name, target_type in target_schema.items():
        # Check if the column exists in our current dataframe
        if col_name in current_schema:
            current_type = current_schema[col_name]

            # If the types don't match, prepare a conversion
            if current_type != target_type:
                print(f"  - Mismatch found for '{col_name}': Current is {current_type}, Target is {target_type}. Converting...")
                
                # Special handling for String -> Datetime conversion
                if current_type == pl.String and target_type == pl.Datetime:
                    expression = pl.col(col_name).str.to_datetime()
                # For all other conversions, a standard .cast() is sufficient
                else:
                    expression = pl.col(col_name).cast(target_type)
                
                conversion_expressions.append(expression)

    if conversion_expressions:
        return lazy_df.with_columns(conversion_expressions)
    else:
        print("  - All column types already match the target schema.")
        return lazy_df

# mappage des données

In [22]:
col_rename(data_2009).collect().head(200)

renommage

shape: (200, 18)
┌─────────────┬──────────────────────┬───────────────────────┬─────────────────┬───┬─────────┬────────────┬──────────────┬──────────────┐
│ vendor_name ┆ tpep_pickup_datetime ┆ tpep_dropoff_datetime ┆ passenger_count ┆ … ┆ mta_tax ┆ tip_amount ┆ tolls_amount ┆ total_amount │
│ ---         ┆ ---                  ┆ ---                   ┆ ---             ┆   ┆ ---     ┆ ---        ┆ ---          ┆ ---          │
│ str         ┆ str                  ┆ str                   ┆ i64             ┆   ┆ f64     ┆ f64        ┆ f64          ┆ f64          │
╞═════════════╪══════════════════════╪═══════════════════════╪═════════════════╪═══╪═════════╪════════════╪══════════════╪══════════════╡
│ VTS         ┆ 2009-01-04 02:52:00  ┆ 2009-01-04 03:02:00   ┆ 1               ┆ … ┆ null    ┆ 0.0        ┆ 0.0          ┆ 9.4          │
│ VTS         ┆ 2009-01-04 03:31:00  ┆ 2009-01-04 03:38:00   ┆ 3               ┆ … ┆ null    ┆ 2.0        ┆ 0.0          ┆ 14.6         │
│ VTS         ┆ 2009-01-03 15:43:00  ┆ 2009-01-03 15:57:00   ┆ 5               ┆ … ┆ null    ┆ 4.74       ┆ 0.0          ┆ 28.44        │
│ DDS         ┆ 2009-01-01 20:52:58  ┆ 2009-01-01 21:14:00   ┆ 1               ┆ … ┆ null    ┆ 3.05       ┆ 0.0          ┆ 18.45        │
│ DDS         ┆ 2009-01-24 16:18:23  ┆ 2009-01-24 16:24:56   ┆ 1               ┆ … ┆ null    ┆ 0.0        ┆ 0.0          ┆ 3.7          │
│ …           ┆ …                    ┆ …                     ┆ …               ┆ … ┆ …       ┆ …          ┆ …            ┆ …            │
│ VTS         ┆ 2009-01-25 02:36:00  ┆ 2009-01-25 02:51:00   ┆ 1               ┆ … ┆ null    ┆ 2.0        ┆ 0.0          ┆ 15.0         │
│ VTS         ┆ 2009-01-25 10:21:00  ┆ 2009-01-25 10:26:00   ┆ 1               ┆ … ┆ null    ┆ 0.0        ┆ 0.0          ┆ 4.9          │
│ VTS         ┆ 2009-01-25 09:09:00  ┆ 2009-01-25 09:22:00   ┆ 5               ┆ … ┆ null    ┆ 0.0        ┆ 0.0          ┆ 16.5         │
│ VTS         ┆ 2009-01-25 15:03:00  ┆ 2009-01-25 15:13:00   ┆ 1               ┆ … ┆ null    ┆ 0.0        ┆ 0.0          ┆ 7.7          │
│ CMT         ┆ 2009-01-25 18:09:54  ┆ 2009-01-25 18:24:27   ┆ 1               ┆ … ┆ null    ┆ 0.0        ┆ 0.0          ┆ 9.7          │
└─────────────┴──────────────────────┴───────────────────────┴─────────────────┴───┴─────────┴────────────┴──────────────┴──────────────┘

In [23]:
data_2024.collect().head()

shape: (5, 19)
┌──────────┬──────────────────────┬───────────────────────┬─────────────────┬───┬───────────────────────┬──────────────┬──────────────────────┬─────────────┐
│ VendorID ┆ tpep_pickup_datetime ┆ tpep_dropoff_datetime ┆ passenger_count ┆ … ┆ improvement_surcharge ┆ total_amount ┆ congestion_surcharge ┆ Airport_fee │
│ ---      ┆ ---                  ┆ ---                   ┆ ---             ┆   ┆ ---                   ┆ ---          ┆ ---                  ┆ ---         │
│ i32      ┆ datetime[ns]         ┆ datetime[ns]          ┆ i64             ┆   ┆ f64                   ┆ f64          ┆ f64                  ┆ f64         │
╞══════════╪══════════════════════╪═══════════════════════╪═════════════════╪═══╪═══════════════════════╪══════════════╪══════════════════════╪═════════════╡
│ 2        ┆ 2024-01-01 00:57:55  ┆ 2024-01-01 01:17:43   ┆ 1               ┆ … ┆ 1.0                   ┆ 22.7         ┆ 2.5                  ┆ 0.0         │
│ 1        ┆ 2024-01-01 00:03:00  ┆ 2024-01-01 00:09:36   ┆ 1               ┆ … ┆ 1.0                   ┆ 18.75        ┆ 2.5                  ┆ 0.0         │
│ 1        ┆ 2024-01-01 00:17:06  ┆ 2024-01-01 00:35:01   ┆ 1               ┆ … ┆ 1.0                   ┆ 31.3         ┆ 2.5                  ┆ 0.0         │
│ 1        ┆ 2024-01-01 00:36:38  ┆ 2024-01-01 00:44:56   ┆ 1               ┆ … ┆ 1.0                   ┆ 17.0         ┆ 2.5                  ┆ 0.0         │
│ 1        ┆ 2024-01-01 00:46:51  ┆ 2024-01-01 00:52:57   ┆ 1               ┆ … ┆ 1.0                   ┆ 16.1         ┆ 2.5                  ┆ 0.0         │
└──────────┴──────────────────────┴───────────────────────┴─────────────────┴───┴───────────────────────┴──────────────┴──────────────────────┴─────────────┘

In [24]:
def values_map(lazy_df: pl.LazyFrame) -> pl.LazyFrame:
    """Traduit les anciennes valeurs codées (texte) en nouvelles valeurs (numérique). de store_andfwd_flag et payment_type"""
    print("Mapping started")
    
    return lazy_df.with_columns(
        # Mappage pour store_and_fwd_flag
        pl.when(pl.col("store_and_fwd_flag") == 1.0)
          .then(pl.lit("Y"))
          .otherwise(pl.lit("N"))
          .alias("store_and_fwd_flag"),
        # Mappage pour payment_type avec la logique when/then
        pl.when(pl.col("payment_type").str.to_uppercase().str.contains("CRE"))
          .then(pl.lit(1)) # 1 = Credit card
          .when(pl.col("payment_type").str.to_uppercase().str.contains("FLE"))
          .then(pl.lit(0)) # 0 = FLEX FARE TIP
          .when(pl.col("payment_type").str.to_uppercase().str.contains("CAS"))
          .then(pl.lit(2)) # 2 = Cash
          .when(pl.col("payment_type").str.to_uppercase().str.contains("NO"))
          .then(pl.lit(3)) # 3 = No charge
          .when(pl.col("payment_type").str.to_uppercase().str.contains("DIS"))
          .then(pl.lit(4)) # 4 = Dispute
          .otherwise(pl.lit(5)) # 5 = Unknown
          .cast(pl.Int64)
          .alias("payment_type")
    )

In [25]:
values_map(type_convert(col_rename(data_2009))).collect()

renommage
debut de conversion
  - Conversion de 'tpep_pickup_datetime'...
  - Conversion de 'tpep_dropoff_datetime'...
  - Conversion de 'RatecodeID'...
Mapping started

shape: (14_092_413, 18)
┌─────────────┬──────────────────────┬───────────────────────┬─────────────────┬───┬─────────┬────────────┬──────────────┬──────────────┐
│ vendor_name ┆ tpep_pickup_datetime ┆ tpep_dropoff_datetime ┆ passenger_count ┆ … ┆ mta_tax ┆ tip_amount ┆ tolls_amount ┆ total_amount │
│ ---         ┆ ---                  ┆ ---                   ┆ ---             ┆   ┆ ---     ┆ ---        ┆ ---          ┆ ---          │
│ str         ┆ datetime[μs]         ┆ datetime[μs]          ┆ i64             ┆   ┆ f64     ┆ f64        ┆ f64          ┆ f64          │
╞═════════════╪══════════════════════╪═══════════════════════╪═════════════════╪═══╪═════════╪════════════╪══════════════╪══════════════╡
│ VTS         ┆ 2009-01-04 02:52:00  ┆ 2009-01-04 03:02:00   ┆ 1               ┆ … ┆ null    ┆ 0.0        ┆ 0.0          ┆ 9.4          │
│ VTS         ┆ 2009-01-04 03:31:00  ┆ 2009-01-04 03:38:00   ┆ 3               ┆ … ┆ null    ┆ 2.0        ┆ 0.0          ┆ 14.6         │
│ VTS         ┆ 2009-01-03 15:43:00  ┆ 2009-01-03 15:57:00   ┆ 5               ┆ … ┆ null    ┆ 4.74       ┆ 0.0          ┆ 28.44        │
│ DDS         ┆ 2009-01-01 20:52:58  ┆ 2009-01-01 21:14:00   ┆ 1               ┆ … ┆ null    ┆ 3.05       ┆ 0.0          ┆ 18.45        │
│ DDS         ┆ 2009-01-24 16:18:23  ┆ 2009-01-24 16:24:56   ┆ 1               ┆ … ┆ null    ┆ 0.0        ┆ 0.0          ┆ 3.7          │
│ …           ┆ …                    ┆ …                     ┆ …               ┆ … ┆ …       ┆ …          ┆ …            ┆ …            │
│ VTS         ┆ 2009-01-27 14:36:00  ┆ 2009-01-27 14:46:00   ┆ 5               ┆ … ┆ null    ┆ 0.0        ┆ 0.0          ┆ 6.5          │
│ VTS         ┆ 2009-01-27 13:56:00  ┆ 2009-01-27 14:02:00   ┆ 1               ┆ … ┆ null    ┆ 1.9        ┆ 0.0          ┆ 10.0         │
│ CMT         ┆ 2009-01-23 08:39:44  ┆ 2009-01-23 09:02:15   ┆ 1               ┆ … ┆ null    ┆ 0.0        ┆ 0.0          ┆ 14.5         │
│ VTS         ┆ 2009-01-24 23:05:00  ┆ 2009-01-24 23:15:00   ┆ 3               ┆ … ┆ null    ┆ 0.0        ┆ 0.0          ┆ 11.4         │
│ CMT         ┆ 2009-01-23 14:39:02  ┆ 2009-01-23 15:35:15   ┆ 1               ┆ … ┆ null    ┆ 5.0        ┆ 0.0          ┆ 50.0         │
└─────────────┴──────────────────────┴───────────────────────┴─────────────────┴───┴─────────┴────────────┴──────────────┴──────────────┘

# fonction qui montre si schema identique ou pas entre deux lazy frames

In [26]:

def matching_schemas(
    lazy_df1: pl.LazyFrame, 
    lazy_df2: pl.LazyFrame, 
    afficher_differences: bool = False
) -> bool:
    """
    Vérifie si les schémas de deux LazyFrames sont identiques.

    Args:
        lazy_df1: Le premier LazyFrame à comparer.
        lazy_df2: Le deuxième LazyFrame à comparer.
        afficher_differences: Si True, affiche les différences détaillées
                              en cas de non-correspondance.

    Returns:
        True si les schémas sont identiques (noms, types et ordre des colonnes),
        False sinon.
    """

    # On utilise .collect_schema() qui est la méthode optimisée pour les LazyFrames
    schema1 = lazy_df1.collect_schema()
    schema2 = lazy_df2.collect_schema()

    # Comparaison directe des deux schémas
    sont_identiques = (schema1 == schema2)

    if sont_identiques:
        print(" Les schémas sont identiques.")
        return True
    
    # Si les schémas ne sont pas identiques et que l'utilisateur veut des détails
    if not sont_identiques and afficher_differences:
        print("Les schémas ne sont PAS identiques. Voici le détail des différences :")
        
        colonnes1 = list(schema1.keys())
        colonnes2 = list(schema2.keys())

        # Vérification du nombre, des noms et de l'ordre des colonnes
        if colonnes1 != colonnes2:
            print("\n1. Les noms ou l'ordre des colonnes diffèrent :")
            print(f"   - Schéma 1 ({len(colonnes1)} cols): {colonnes1}")
            print(f"   - Schéma 2 ({len(colonnes2)} cols): {colonnes2}")
            
            diff_cols = set(colonnes1).symmetric_difference(set(colonnes2))
            if diff_cols:
                print(f"   - Colonnes non partagées : {list(diff_cols)}")

        # Vérification des types pour les colonnes en commun
        print("\n2. Vérification des types de données pour les colonnes communes :")
        colonnes_communes = sorted(list(set(colonnes1).intersection(set(colonnes2))))
        
        aucune_diff_type = True
        for col in colonnes_communes:
            if schema1[col] != schema2[col]:
                print(f"   - Colonne '{col}':")
                print(f"     -> Type Schéma 1 = {schema1[col]}")
                print(f"     -> Type Schéma 2 = {schema2[col]}")
                aucune_diff_type = False
        
        if aucune_diff_type:
            print("   - Aucun type de données ne diffère pour les colonnes communes.")

    elif not sont_identiques:
        print(" Les schémas ne sont pas identiques.")
        
    return False

In [27]:
matching_schemas(data_2009,data_2009,True)

 Les schémas sont identiques.

True

# rajouter les colonne manquantes

In [28]:
from polars._typing import SchemaDict

def add_missing_columns(
    lazy_df: pl.LazyFrame,
    target_schema: SchemaDict
) -> pl.LazyFrame:
    """Compares the LazyFrame to a target schema and adds any missing columns."""
    

    current_columns = set(lazy_df.columns)
    target_columns = set(target_schema.keys())
    
    columns_to_add = target_columns - current_columns

    if not columns_to_add:
        print("  - No columns to add.")
        return lazy_df

    print(f"  - Missing columns detected and will be added: {sorted(list(columns_to_add))}")

    add_expressions = []
    for column_name in sorted(list(columns_to_add)):
        target_dtype = target_schema[column_name]
        expression = pl.lit(None, dtype=target_dtype).alias(column_name)
        add_expressions.append(expression)
            
    return lazy_df.with_columns(add_expressions)

In [29]:
target_schema_2024_dict = {
    'VendorID': pl.Int32,
    'tpep_pickup_datetime': pl.Datetime,
    'tpep_dropoff_datetime': pl.Datetime,
    'passenger_count': pl.Int64,
    'trip_distance': pl.Float64,
    'RatecodeID': pl.Int64,
    'store_and_fwd_flag': pl.String,
    'PULocationID': pl.Int32,
    'DOLocationID': pl.Int32,
    'payment_type': pl.Int64,
    'fare_amount': pl.Float64,
    'extra': pl.Float64,
    'mta_tax': pl.Float64,
    'tip_amount': pl.Float64,
    'tolls_amount': pl.Float64,
    'improvement_surcharge': pl.Float64,
    'total_amount': pl.Float64,
    'congestion_surcharge': pl.Float64,
    'Airport_fee': pl.Float64
}

In [30]:
add_missing_columns(values_map(type_convert(col_rename(data_2009))).head(50),target_schema_2024_dict).collect()

renommage
debut de conversion
  - Conversion de 'tpep_pickup_datetime'...
  - Conversion de 'tpep_dropoff_datetime'...
  - Conversion de 'RatecodeID'...
Mapping started
  - Missing columns detected and will be added: ['Airport_fee', 'DOLocationID', 'PULocationID', 'VendorID', 'congestion_surcharge', 'improvement_surcharge']

C:\Users\stgadmin\AppData\Local\Temp\ipykernel_21772\1457595152.py:10: PerformanceWarning: Determining the column names of a LazyFrame requires resolving its schema, which is a potentially expensive operation. Use `LazyFrame.collect_schema().names()` to get the column names without this warning.
  current_columns = set(lazy_df.columns)

shape: (50, 24)
┌─────────────┬──────────────────────┬───────────────────────┬─────────────────┬───┬──────────────┬──────────┬──────────────────────┬───────────────────────┐
│ vendor_name ┆ tpep_pickup_datetime ┆ tpep_dropoff_datetime ┆ passenger_count ┆ … ┆ PULocationID ┆ VendorID ┆ congestion_surcharge ┆ improvement_surcharge │
│ ---         ┆ ---                  ┆ ---                   ┆ ---             ┆   ┆ ---          ┆ ---      ┆ ---                  ┆ ---                   │
│ str         ┆ datetime[μs]         ┆ datetime[μs]          ┆ i64             ┆   ┆ i32          ┆ i32      ┆ f64                  ┆ f64                   │
╞═════════════╪══════════════════════╪═══════════════════════╪═════════════════╪═══╪══════════════╪══════════╪══════════════════════╪═══════════════════════╡
│ VTS         ┆ 2009-01-04 02:52:00  ┆ 2009-01-04 03:02:00   ┆ 1               ┆ … ┆ null         ┆ null     ┆ null                 ┆ null                  │
│ VTS         ┆ 2009-01-04 03:31:00  ┆ 2009-01-04 03:38:00   ┆ 3               ┆ … ┆ null         ┆ null     ┆ null                 ┆ null                  │
│ VTS         ┆ 2009-01-03 15:43:00  ┆ 2009-01-03 15:57:00   ┆ 5               ┆ … ┆ null         ┆ null     ┆ null                 ┆ null                  │
│ DDS         ┆ 2009-01-01 20:52:58  ┆ 2009-01-01 21:14:00   ┆ 1               ┆ … ┆ null         ┆ null     ┆ null                 ┆ null                  │
│ DDS         ┆ 2009-01-24 16:18:23  ┆ 2009-01-24 16:24:56   ┆ 1               ┆ … ┆ null         ┆ null     ┆ null                 ┆ null                  │
│ …           ┆ …                    ┆ …                     ┆ …               ┆ … ┆ …            ┆ …        ┆ …                    ┆ …                     │
│ DDS         ┆ 2009-01-20 14:28:55  ┆ 2009-01-20 14:54:08   ┆ 2               ┆ … ┆ null         ┆ null     ┆ null                 ┆ null                  │
│ CMT         ┆ 2009-01-05 22:11:53  ┆ 2009-01-05 22:18:35   ┆ 1               ┆ … ┆ null         ┆ null     ┆ null                 ┆ null                  │
│ CMT         ┆ 2009-01-06 06:07:41  ┆ 2009-01-06 06:25:44   ┆ 1               ┆ … ┆ null         ┆ null     ┆ null                 ┆ null                  │
│ CMT         ┆ 2009-01-06 13:05:14  ┆ 2009-01-06 13:15:14   ┆ 1               ┆ … ┆ null         ┆ null     ┆ null                 ┆ null                  │
│ DDS         ┆ 2009-01-18 07:49:21  ┆ 2009-01-18 07:55:33   ┆ 2               ┆ … ┆ null         ┆ null     ┆ null                 ┆ null                  │
└─────────────┴──────────────────────┴───────────────────────┴─────────────────┴───┴──────────────┴──────────┴──────────────────────┴───────────────────────┘

In [31]:
matching_schemas(add_missing_columns(values_map(type_convert(col_rename(data_2009))).head(50),target_schema_2024_dict),data_2024,True)

renommage
debut de conversion
  - Conversion de 'tpep_pickup_datetime'...
  - Conversion de 'tpep_dropoff_datetime'...
  - Conversion de 'RatecodeID'...
Mapping started
  - Missing columns detected and will be added: ['Airport_fee', 'DOLocationID', 'PULocationID', 'VendorID', 'congestion_surcharge', 'improvement_surcharge']
Les schémas ne sont PAS identiques. Voici le détail des différences :

1. Les noms ou l'ordre des colonnes diffèrent :
   - Schéma 1 (24 cols): ['vendor_name', 'tpep_pickup_datetime', 'tpep_dropoff_datetime', 'passenger_count', 'trip_distance', 'Start_Lon', 'Start_Lat', 'RatecodeID', 'store_and_fwd_flag', 'End_Lon', 'End_Lat', 'payment_type', 'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'total_amount', 'Airport_fee', 'DOLocationID', 'PULocationID', 'VendorID', 'congestion_surcharge', 'improvement_surcharge']
   - Schéma 2 (19 cols): ['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime', 'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag', 'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount', 'congestion_surcharge', 'Airport_fee']
   - Colonnes non partagées : ['End_Lat', 'Start_Lon', 'Start_Lat', 'End_Lon', 'vendor_name']

2. Vérification des types de données pour les colonnes communes :
   - Colonne 'tpep_dropoff_datetime':
     -> Type Schéma 1 = Datetime(time_unit='us', time_zone=None)
     -> Type Schéma 2 = Datetime(time_unit='ns', time_zone=None)
   - Colonne 'tpep_pickup_datetime':
     -> Type Schéma 1 = Datetime(time_unit='us', time_zone=None)
     -> Type Schéma 2 = Datetime(time_unit='ns', time_zone=None)

C:\Users\stgadmin\AppData\Local\Temp\ipykernel_21772\1457595152.py:10: PerformanceWarning: Determining the column names of a LazyFrame requires resolving its schema, which is a potentially expensive operation. Use `LazyFrame.collect_schema().names()` to get the column names without this warning.
  current_columns = set(lazy_df.columns)

False

In [47]:
data_2009_clean = reconcile_vendor_column(data_2009.head())

In [48]:
data_2009_clean = add_location_ids(data_2009_clean,zones_lazy)

In [49]:
data_2009_clean = col_rename(data_2009_clean)

renommage

In [50]:
data_2009_clean = values_map(data_2009_clean)

Mapping started

In [51]:
data_2009_clean = add_missing_columns(data_2009_clean,target_schema_2024_dict)

  - Missing columns detected and will be added: ['Airport_fee', 'congestion_surcharge', 'improvement_surcharge']

C:\Users\stgadmin\AppData\Local\Temp\ipykernel_21772\1457595152.py:10: PerformanceWarning: Determining the column names of a LazyFrame requires resolving its schema, which is a potentially expensive operation. Use `LazyFrame.collect_schema().names()` to get the column names without this warning.
  current_columns = set(lazy_df.columns)

In [52]:
data_2009_clean = enforce_schema_types(data_2009_clean,target_schema_2024_dict)

-> Dynamically checking and converting column types to match target schema...
  - Mismatch found for 'VendorID': Current is Int64, Target is Int32. Converting...
  - Mismatch found for 'tpep_pickup_datetime': Current is String, Target is Datetime. Converting...
  - Mismatch found for 'tpep_dropoff_datetime': Current is String, Target is Datetime. Converting...
  - Mismatch found for 'RatecodeID': Current is Float64, Target is Int64. Converting...

In [53]:
data_2009_clean.collect()

shape: (5, 19)
┌──────────────────────┬───────────────────────┬─────────────────┬───────────────┬───┬──────────────┬─────────────┬──────────────────────┬───────────────────────┐
│ tpep_pickup_datetime ┆ tpep_dropoff_datetime ┆ passenger_count ┆ trip_distance ┆ … ┆ DOLocationID ┆ Airport_fee ┆ congestion_surcharge ┆ improvement_surcharge │
│ ---                  ┆ ---                   ┆ ---             ┆ ---           ┆   ┆ ---          ┆ ---         ┆ ---                  ┆ ---                   │
│ datetime[μs]         ┆ datetime[μs]          ┆ i64             ┆ f64           ┆   ┆ i32          ┆ f64         ┆ f64                  ┆ f64                   │
╞══════════════════════╪═══════════════════════╪═════════════════╪═══════════════╪═══╪══════════════╪═════════════╪══════════════════════╪═══════════════════════╡
│ 2009-01-04 02:52:00  ┆ 2009-01-04 03:02:00   ┆ 1               ┆ 2.63          ┆ … ┆ 33           ┆ null        ┆ null                 ┆ null                  │
│ 2009-01-04 03:31:00  ┆ 2009-01-04 03:38:00   ┆ 3               ┆ 4.55          ┆ … ┆ 141          ┆ null        ┆ null                 ┆ null                  │
│ 2009-01-03 15:43:00  ┆ 2009-01-03 15:57:00   ┆ 5               ┆ 10.35         ┆ … ┆ 70           ┆ null        ┆ null                 ┆ null                  │
│ 2009-01-01 20:52:58  ┆ 2009-01-01 21:14:00   ┆ 1               ┆ 5.0           ┆ … ┆ 113          ┆ null        ┆ null                 ┆ null                  │
│ 2009-01-24 16:18:23  ┆ 2009-01-24 16:24:56   ┆ 1               ┆ 0.4           ┆ … ┆ 231          ┆ null        ┆ null                 ┆ null                  │
└──────────────────────┴───────────────────────┴─────────────────┴───────────────┴───┴──────────────┴─────────────┴──────────────────────┴───────────────────────┘

In [54]:
from transformation import order_columns_by_schema
matching_schemas(order_columns_by_schema(data_2009_clean,target_schema_2024_dict ),data_2024,True)

-> Step 5: Ordering columns to match the final schema...
Les schémas ne sont PAS identiques. Voici le détail des différences :

2. Vérification des types de données pour les colonnes communes :
   - Colonne 'tpep_dropoff_datetime':
     -> Type Schéma 1 = Datetime(time_unit='us', time_zone=None)
     -> Type Schéma 2 = Datetime(time_unit='ns', time_zone=None)
   - Colonne 'tpep_pickup_datetime':
     -> Type Schéma 1 = Datetime(time_unit='us', time_zone=None)
     -> Type Schéma 2 = Datetime(time_unit='ns', time_zone=None)

False

# tester toutes les fonctions :

In [59]:

def run_transformation(
    source_lazy_df: pl.LazyFrame,
    zones_df: pl.DataFrame,
    target_schema: SchemaDict
) -> pl.LazyFrame:
    """
        renvoie Un nouveau LazyFrame aligné sur le schéma cible.
    """
    print("--- START ---")

   
    df_step1 = add_location_ids(source_lazy_df, zones_df)

    
    df_step2 = col_rename(df_step1)

    
    df_step3 = values_map(df_step2)

    
    df_step4 = add_missing_columns(df_step3, target_schema)

    
    df_step5 = enforce_schema_types(df_step4, target_schema)
    
    
    final_lazy_df = order_columns_by_schema(df_step5, target_schema)

    print("--- END ---")
    
    return final_lazy_df

In [68]:
target_schema_2025_dict = data_2025.collect_schema()
result = run_transformation(data_2009,zones_lazy,target_schema_2025_dict)
result.collect()

--- START ---
renommage
Mapping started
  - Missing columns detected and will be added: ['Airport_fee', 'VendorID', 'cbd_congestion_fee', 'congestion_surcharge', 'improvement_surcharge']
-> Dynamically checking and converting column types to match target schema...
  - Mismatch found for 'tpep_pickup_datetime': Current is String, Target is Datetime(time_unit='us', time_zone=None). Converting...
  - Mismatch found for 'tpep_dropoff_datetime': Current is String, Target is Datetime(time_unit='us', time_zone=None). Converting...
  - Mismatch found for 'RatecodeID': Current is Float64, Target is Int64. Converting...
-> Step 5: Ordering columns to match the final schema...
--- END ---

C:\Users\stgadmin\AppData\Local\Temp\ipykernel_21772\1457595152.py:10: PerformanceWarning: Determining the column names of a LazyFrame requires resolving its schema, which is a potentially expensive operation. Use `LazyFrame.collect_schema().names()` to get the column names without this warning.
  current_columns = set(lazy_df.columns)

shape: (14_092_413, 20)
┌──────────┬──────────────────────┬───────────────────────┬─────────────────┬───┬──────────────┬──────────────────────┬─────────────┬────────────────────┐
│ VendorID ┆ tpep_pickup_datetime ┆ tpep_dropoff_datetime ┆ passenger_count ┆ … ┆ total_amount ┆ congestion_surcharge ┆ Airport_fee ┆ cbd_congestion_fee │
│ ---      ┆ ---                  ┆ ---                   ┆ ---             ┆   ┆ ---          ┆ ---                  ┆ ---         ┆ ---                │
│ i32      ┆ datetime[μs]         ┆ datetime[μs]          ┆ i64             ┆   ┆ f64          ┆ f64                  ┆ f64         ┆ f64                │
╞══════════╪══════════════════════╪═══════════════════════╪═════════════════╪═══╪══════════════╪══════════════════════╪═════════════╪════════════════════╡
│ null     ┆ 2009-01-04 02:52:00  ┆ 2009-01-04 03:02:00   ┆ 1               ┆ … ┆ 9.4          ┆ null                 ┆ null        ┆ null               │
│ null     ┆ 2009-01-04 03:31:00  ┆ 2009-01-04 03:38:00   ┆ 3               ┆ … ┆ 14.6         ┆ null                 ┆ null        ┆ null               │
│ null     ┆ 2009-01-03 15:43:00  ┆ 2009-01-03 15:57:00   ┆ 5               ┆ … ┆ 28.44        ┆ null                 ┆ null        ┆ null               │
│ null     ┆ 2009-01-01 20:52:58  ┆ 2009-01-01 21:14:00   ┆ 1               ┆ … ┆ 18.45        ┆ null                 ┆ null        ┆ null               │
│ null     ┆ 2009-01-24 16:18:23  ┆ 2009-01-24 16:24:56   ┆ 1               ┆ … ┆ 3.7          ┆ null                 ┆ null        ┆ null               │
│ …        ┆ …                    ┆ …                     ┆ …               ┆ … ┆ …            ┆ …                    ┆ …           ┆ …                  │
│ null     ┆ 2009-01-27 14:36:00  ┆ 2009-01-27 14:46:00   ┆ 5               ┆ … ┆ 6.5          ┆ null                 ┆ null        ┆ null               │
│ null     ┆ 2009-01-27 13:56:00  ┆ 2009-01-27 14:02:00   ┆ 1               ┆ … ┆ 10.0         ┆ null                 ┆ null        ┆ null               │
│ null     ┆ 2009-01-23 08:39:44  ┆ 2009-01-23 09:02:15   ┆ 1               ┆ … ┆ 14.5         ┆ null                 ┆ null        ┆ null               │
│ null     ┆ 2009-01-24 23:05:00  ┆ 2009-01-24 23:15:00   ┆ 3               ┆ … ┆ 11.4         ┆ null                 ┆ null        ┆ null               │
│ null     ┆ 2009-01-23 14:39:02  ┆ 2009-01-23 15:35:15   ┆ 1               ┆ … ┆ 50.0         ┆ null                 ┆ null        ┆ null               │
└──────────┴──────────────────────┴───────────────────────┴─────────────────┴───┴──────────────┴──────────────────────┴─────────────┴────────────────────┘

In [ ]:
for file in files : 
    data = pl.scan_parquet(file)
    file_name = file
    file_again = file.split('\\')
    file_again[6] = 'test'
    file_name = ('\\').join(file_again)
    result = run_transformation(data,zones_lazy,target_schema_2025_dict)
    result.sink_parquet(file_name)

--- START ---
renommage
Mapping started
  - Missing columns detected and will be added: ['Airport_fee', 'VendorID', 'cbd_congestion_fee', 'congestion_surcharge', 'improvement_surcharge']
-> Dynamically checking and converting column types to match target schema...
  - Mismatch found for 'tpep_pickup_datetime': Current is String, Target is Datetime(time_unit='us', time_zone=None). Converting...
  - Mismatch found for 'tpep_dropoff_datetime': Current is String, Target is Datetime(time_unit='us', time_zone=None). Converting...
  - Mismatch found for 'RatecodeID': Current is Float64, Target is Int64. Converting...
-> Step 5: Ordering columns to match the final schema...
--- END ---

C:\Users\stgadmin\AppData\Local\Temp\ipykernel_21772\1457595152.py:10: PerformanceWarning: Determining the column names of a LazyFrame requires resolving its schema, which is a potentially expensive operation. Use `LazyFrame.collect_schema().names()` to get the column names without this warning.
  current_columns = set(lazy_df.columns)